h1= title
h4 INSTRUCTION: Tweak the parameters below to load the corresponding fio test result. The summary section is popuated for convenience by parsing the loaded test result. Some tests have not been executed.

p Common across all tests:
ul
    li AMI: Basic 32-bit/64-bit Amazon Linux AMI
    li Region: IAD
    li Encryption is done using dm-crypt/LUKS with default parameters (Cipher name: aes, Cipher mode: cbc-essiv:sha256, Hash spec: sha1)
    li The same fio job file is used across all tests (
        a(href='bench.fio') click to download the job file
        )
    li No RAID (yet)

h4 Test Parameters:
form#form(method='post', action='q')
    - each attribute in attributes
        .field
            label.field-label #{attribute.label}:
            .buttonset
                - each val, key in attribute.values
                    input(id='#{key}', type='radio', name='#{attribute.name}', value='#{key}')
                    label(for='#{key}') #{val}
#result
    h4 Test runs:
    #test-runs
    table#test-runs-table
        thead: tr
            th Test output
            th Execution time
        tbody
    h4 IO Latency:
    table.section
        tr
            td
                .graph#latency-graph 
            td
                !=partial('summary-table', {id:'latency-table'})
    h4 CPU User Time:
    table.section
        tr
            td
                .graph#cpu-usr-graph
            td
                !=partial('summary-table', {id:'cpu-usr-table'})
    h4 CPU System Time:
    table.section
        tr
            td
                .graph#cpu-sys-graph
            td
                !=partial('summary-table', {id:'cpu-sys-table'})
    h4 Test output:
    pre#test-output
    // p Debug:
    // pre#debug

