h1= title
form#form(method='post', action='q')
    - each attribute in attributes
        .field
            label.field-label #{attribute.label}:
            .buttonset
                - each val, key in attribute.values
                    input(id='#{key}', type='radio', name='#{attribute.name}', value='#{key}')
                    label(for='#{key}') #{val}
#result
    p Summary:
    #summary
    table#summary-table
        thead: tr
            th Encryption
            th Seq Read
            th Seq Write
            th Seq Read/Write
            th Rand Read
            th Rand Write
            th Rand Read/Write
        tbody
            tr
                td Plain
                td 
                td 
                td 
                td 
                td 
                td 
            tr
                td Encrypted
                td 
                td 
                td 
                td 
                td 
                td 
    p Graph: TBD
    #graph
    p Test output:
    pre#test-output
    // p Debug:
    // pre#debug

